<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>
        <% if (head) {%>
          <a href="/">Home</a>
        <% } %>
    </p>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= body %></p>
    <a href="/page/page1">Page 1</a>
    <a href="/page/page2">Page 2</a>
    <a href="/page/page3">Page 3</a>
  </body>
</html>
